@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-bg text-center;
}

.container {
  @apply flex justify-center items-center h-4/5;
}


.box {
  @apply w-18vmin h-18vmin bg-custom-box-bg text-custom-box-text text-8vmin font-bold flex items-center justify-center rounded-1rem shadow-custom;
}

#reset-btn,
#new-btn {
  @apply bg-custom-btn-bg text-white px-4 py-2 rounded-1rem;
}

#msg {
  @apply text-custom-box-bg text-5vmin;
}

.msg-container {
  @apply flex justify-center items-center flex-col gap-16;
}

.hide {
  @apply hidden;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Playwrite+CU:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


@layer base{
  html{
    font-family: "Raleway", sans-serif;
  }
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
background: #080808;}

::-webkit-scrollbar-thumb{
background: linear-gradient(rgb(25, 122, 233),rgb(33, 158, 196));
border-radius: 4px;
}
::-webkit-scrollbar{
  width: 8px;
}


::selection {
  background-color: #39c84c;
  color: #080808;
}


html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}

#root {
  position: relative;
  overflow: hidden;
}

.spinner {
  position: absolute;
}

.spinner-1 {
  right: -535px;
  bottom: -840px;
}
.spinner-2 {
  right: -385px;
  bottom: -695px;
}
.spinner-3 {
  right: -200px;
  bottom: -510px;
}
