.circle {
  position: relative;
  aspect-ratio: 1;
}

.letter {
  position: absolute;
  top: 0;
  left: 50%;
  font-family: "Creepster", sans-serif;
  color: #352f44;
}

@media (max-width: 600px) {
  .circle {
    width: 90%; /* Make the circle slightly larger on small screens */
    max-width: 150px; /* Adjust max width for smaller screens */
  }

  .letter {
    font-size: calc(0.8em + 2vw); /* Increase font size on smaller screens */
  }
}

@media (max-width: 400px) {
  .circle {
    width: 100%; /* Make the circle fill the width of very small screens */
    max-width: 120px; /* Further reduce max width for very small screens */
  }

  .letter {
    font-size: calc(0.6em + 2vw); /* Further increase font size on very small screens */
  }
}
